<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/core.css">
    <link rel="stylesheet" href="/css/department.css">
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
</head>
<body>
    <div id="header"></div>
    <div id="body">
        <div id="dept-name-container">
            <label for="dept-name-input">Name: </label>
            <input id="dept-name-input" class="input-group" type="text" name="dept_name">
        </div>
        <div id="submit-container">
            <button onclick="onSubmit()">Submit</button>
        </div>
    </div>
</body>
</html>
<script src="/js/core/include_header.js"></script>
<script>
    async function onSubmit() {
        let name = document.getElementById("dept-name-input").value;
        if (name.trim() === '') {
            window.alert("Name cannot be null!");
            return;
        }
        const res = await fetch('/api/department/create', {
            method: 'POST',
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({name})
        })
        const resJson = await res.json();
        if (resJson != null) {
            window.alert("Create successfully");
            window.location.href = "/home"
        }
    }
</script>
